#root {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

.mobile {
  font-size: 1rem;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .mobile {
    font-size: 0.675rem;
  }
}