#root {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

#root::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('public/images/reddit.png');
  background-size: 50px 50px;
  background-position: top left;
  background-repeat: repeat;
  opacity: 0.2;
  z-index: -1;
}

.cursor-pointer {
  cursor: pointer;
}

.mobile {
  font-size: 1rem;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .mobile {
    font-size: 0.675rem;
  }
}